__pycache__/
*.pyc
.env
*.egg-info/
dist/
node_modules/
.DS_Store

# Flutter
miniapp/build/
miniapp/.dart_tool/
miniapp/.flutter-plugins
miniapp/.flutter-plugins-dependencies
miniapp/android/.gradle/
miniapp/android/local.properties
miniapp/android/build/
miniapp/android/.kotlin/
miniapp/android/**/*.hprof
