{"swagger": "2.0", "info": {"title": "XingZhe OpenAPI Doc", "description": "Doc for XingZhe-Sprinter OpenAPI.", "termsOfService": "https://www.imxingzhe.com/contact/", "contact": {"email": "contact@bi-ci.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "www.imxingzhe.com", "schemes": ["https"], "basePath": "/openapi/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Sprinter OpenAPI Swagger": {"type": "oauth2", "name": "Authorization", "in": "header", "authorizationUrl": "/oauth2/v2/authorize/", "tokenUrl": "/oauth2/v2/access_token/", "flow": "accessCode", "scopes": {"read:athlete": "read athlete", "read:activity": "read activity", "read:route": "read route", "write:upload": "upload fit"}}, "Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Bearer": []}, {"Sprinter OpenAPI Swagger": []}], "paths": {"/activities/": {"get": {"operationId": "activities_list", "summary": "\u7528\u6237\u8f68\u8ff9\u5217\u8868", "description": "\u83b7\u53d6\u7528\u6237\u8f68\u8ff9\u5217\u8868", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "start_timestamp", "in": "query", "description": "\u5f00\u59cb\u65f6\u95f4\u5355\u4f4d:\u6beb\u79d2ms", "required": false, "type": "integer"}, {"name": "end_timestamp", "in": "query", "description": "\u5f00\u59cb\u65f6\u95f4\u5355\u4f4d:\u6beb\u79d2ms", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OpenApiWorkout"}}}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["activities"]}, "parameters": []}, "/activities/{id}/": {"get": {"operationId": "activities_read", "summary": "\u7528\u6237\u8f68\u8ff9\u8be6\u60c5", "description": "\u83b7\u53d6\u7528\u6237\u5355\u6761\u7684\u8f68\u8ff9\u8be6\u60c5", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OpenApiWorkoutDetail"}}}, "tags": ["activities"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8f68\u8ff9.", "required": true, "type": "integer"}]}, "/activities/{id}/stream/": {"post": {"operationId": "activities_stream", "summary": "\u83b7\u53d6\u7528\u6237\u8f68\u8ff9stream\u70b9\u6570\u636e", "description": "\u7528\u6237\u8f68\u8ff9\u8be6\u60c5stream\u63a5\u53e3", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OpenApiWorkout"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OpenApiWorkout"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["activities"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8f68\u8ff9.", "required": true, "type": "integer"}]}, "/athlete/info/": {"get": {"operationId": "athlete_info", "summary": "\u83b7\u53d6\u4e2a\u4eba\u4fe1\u606f", "description": "\u83b7\u53d6\u4e2a\u4eba\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/OpenApiUser"}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["athlete"]}, "parameters": []}, "/developer/login/": {"post": {"operationId": "developer_login", "summary": "Developer\u767b\u5f55\u63a5\u53e3", "description": "\u767b\u5f55Xlink\u63a7\u5236\u540e\u53f0", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserLogin"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Developer"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/logout/": {"post": {"operationId": "developer_logout", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserLogin"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserLogin"}}}, "tags": ["developer"]}, "parameters": []}, "/permission/": {"get": {"operationId": "permission_list", "summary": "OpenAPI\u63a5\u53e3\u6743\u9650\u5217\u8868", "description": "\u83b7\u53d6\u5df2\u6388\u6743\u548c\u672a\u6388\u6743\u7684\u63a5\u53e3\u5217\u8868", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OpenApiPermission"}}}}}}, "tags": ["permission"]}, "parameters": []}, "/permission/apply/": {"post": {"operationId": "permission_apply", "summary": "OpenAPI\u7533\u8bf7\u63a5\u53e3\u6743\u9650", "description": "\u7533\u8bf7\u6388\u6743OpenAPI\u76f8\u5173\u63a5\u53e3", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OpenApiPermission"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OpenApiPermission"}}}, "tags": ["permission"]}, "parameters": []}, "/routes/collects/": {"get": {"operationId": "routes_collects", "summary": "\u7528\u6237\u6536\u85cf\u8def\u4e66\u5217\u8868", "description": "\u83b7\u53d6\u7528\u6237\u6536\u85cf\u7684\u8def\u4e66", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OpenApiLushu"}}}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["routes"]}, "parameters": []}, "/routes/gpx/": {"post": {"operationId": "routes_create_from_gpx", "summary": "\u901a\u8fc7GPX\u6587\u4ef6\u521b\u5efa\u8def\u4e66", "description": "POST /openapi/v1/lushu/gpx/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LushuCreateFromGPX"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/LushuCreateFromGPX"}}}, "tags": ["lushu", "gpx"]}, "parameters": []}, "/routes/mine/": {"get": {"operationId": "routes_mine", "summary": "\u6211\u521b\u5efa\u7684\u8def\u4e66\u5217\u8868", "description": "\u83b7\u53d6\u7528\u6237\u521b\u5efa\u7684\u8def\u4e66", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OpenApiLushu"}}}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["routes"]}, "parameters": []}, "/routes/{id}/": {"get": {"operationId": "routes_read", "summary": "\u8def\u4e66\u8be6\u60c5\u6570\u636e", "description": "\u83b7\u53d6\u5355\u4e2a\u8def\u4e66\u7684\u8be6\u60c5\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLushu"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["routes"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8def\u4e66.", "required": true, "type": "integer"}]}, "/routes/{id}/gpx/": {"get": {"operationId": "routes_gpx", "summary": "\u83b7\u53d6\u8def\u4e66GPX\u6587\u4ef6", "description": "\u83b7\u53d6\u8def\u4e66GPX\u6587\u4ef6,Response\u8fd4\u56degpx\u6587\u4ef6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLushu"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["routes"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8def\u4e66.", "required": true, "type": "integer"}]}, "/routes/{id}/pro/": {"get": {"operationId": "routes_pro", "summary": "\u8def\u4e66\u5bfc\u822ajson\u6570\u636e", "description": "\u8def\u4e662.0 json\u6570\u636e", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLushu"}}}, "tags": ["routes"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8def\u4e66.", "required": true, "type": "integer"}]}, "/uploads/": {"get": {"operationId": "uploads_list", "summary": "\u4e0a\u4f20\u8fd0\u52a8\u6570\u636e\u5217\u8868", "description": "\u83b7\u53d6\u4e0a\u4f20\u8fd0\u52a8\u6570\u636e\u5230\u5217\u8868", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OpenApiUpload"}}}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "consumes": ["multipart/form-data"], "tags": ["uploads"]}, "post": {"operationId": "uploads_create", "summary": "\u4e0a\u4f20\u8fd0\u52a8\u6570\u636e", "description": "\u4e0a\u4f20\u8fd0\u52a8\u6570\u636e\u5230\u540e\u53f0", "parameters": [{"name": "title", "in": "formData", "required": true, "type": "string", "maxLength": 32, "minLength": 1}, {"name": "detail", "in": "formData", "description": "\u8be6\u7ec6\u63cf\u8ff0", "required": false, "type": "string", "default": "", "maxLength": 800, "minLength": 1}, {"name": "fit_file", "in": "formData", "description": "fit\u6587\u4ef6, \u4ee5.fit\u4e3a\u540e\u7f00", "required": true, "type": "file"}, {"name": "fit_filename", "in": "formData", "description": "fit\u6587\u4ef6\u540d\u79f0", "required": false, "type": "string", "default": "", "maxLength": 256, "minLength": 1}, {"name": "md5", "in": "formData", "description": "\u4e0a\u4f20fit_file\u6587\u4ef6\u7684MD5\u503c", "required": true, "type": "string", "maxLength": 128, "minLength": 1}, {"name": "sport", "in": "formData", "description": "\u8fd0\u52a8\u7c7b\u578b(0:\u81ea\u7531\u884c, 1:\u5f92\u6b65, 2:\u8dd1\u6b65, 3:\u9a91\u884c)", "required": false, "type": "integer", "default": 0}, {"name": "client_id", "in": "formData", "description": "\u8bbe\u5907id", "required": false, "type": "integer", "default": 0}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUpload"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "consumes": ["multipart/form-data"], "tags": ["uploads"]}, "parameters": []}, "/workout/": {"get": {"operationId": "workout_list", "summary": "\u7528\u6237\u8f68\u8ff9\u5217\u8868", "description": "\u83b7\u53d6\u7528\u6237\u8f68\u8ff9\u5217\u8868", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}, {"name": "start_timestamp", "in": "query", "description": "\u5f00\u59cb\u65f6\u95f4\u5355\u4f4d:\u6beb\u79d2ms", "required": false, "type": "integer"}, {"name": "end_timestamp", "in": "query", "description": "\u5f00\u59cb\u65f6\u95f4\u5355\u4f4d:\u6beb\u79d2ms", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OpenApiWorkout"}}}}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["workout"]}, "parameters": []}, "/workout/{id}/": {"get": {"operationId": "workout_read", "summary": "\u7528\u6237\u8f68\u8ff9\u8be6\u60c5", "description": "\u83b7\u53d6\u7528\u6237\u5355\u6761\u7684\u8f68\u8ff9\u8be6\u60c5", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OpenApiWorkoutDetail"}}}, "tags": ["workout"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8f68\u8ff9.", "required": true, "type": "integer"}]}, "/workout/{id}/stream/": {"post": {"operationId": "workout_stream", "summary": "\u83b7\u53d6\u7528\u6237\u8f68\u8ff9stream\u70b9\u6570\u636e", "description": "\u7528\u6237\u8f68\u8ff9\u8be6\u60c5stream\u63a5\u53e3", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OpenApiWorkout"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OpenApiWorkout"}}, "400": {"description": "", "schema": {"$ref": "#/definitions/OpenApiLimited"}}, "401": {"description": "", "schema": {"$ref": "#/definitions/OpenApiUnauthorized"}}, "500": {"description": "", "schema": {"$ref": "#/definitions/OpenApiServerException"}}}, "tags": ["workout"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u8f68\u8ff9.", "required": true, "type": "integer"}]}}, "definitions": {"OpenApiWorkout": {"required": ["start_time", "end_time", "distance", "sport"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "start_time": {"title": "Start time", "description": "\u5f00\u59cb\u65f6\u95f4 unixtime (ms)", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808}, "end_time": {"title": "End time", "description": "\u7ed3\u675f\u65f6\u95f4 unixtime (ms)", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808}, "distance": {"title": "Distance", "description": "\u8fd0\u52a8\u91cc\u7a0b (m)", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "sport": {"title": "Sport", "description": "\u8fd0\u52a8\u7c7b\u578b", "type": "integer", "enum": [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12]}, "title": {"title": "Title", "description": "\u6807\u9898", "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}, "uuid": {"title": "Uuid", "description": "\u8f68\u8ff9uuid", "type": "string", "maxLength": 36, "minLength": 1, "x-nullable": true}, "detail": {"title": "\u8be6\u60c5", "description": "\u8be6\u60c5", "type": "string", "maxLength": 256, "minLength": 1, "x-nullable": true}}}, "OpenApiLimited": {"type": "object", "properties": {"code": {"title": "Code", "type": "integer", "default": 400}, "msg": {"title": "Msg", "type": "string", "default": "API Limited", "minLength": 1}, "data": {"title": "Data", "type": "object", "additionalProperties": {"type": "string", "x-nullable": true}, "default": {}}}}, "OpenApiUnauthorized": {"type": "object", "properties": {"code": {"title": "Code", "type": "integer", "default": 401}, "msg": {"title": "Msg", "type": "string", "default": "Unauthorized Error", "minLength": 1}, "data": {"title": "Data", "type": "object", "additionalProperties": {"type": "string", "x-nullable": true}, "default": {}}}}, "OpenApiServerException": {"type": "object", "properties": {"code": {"title": "Code", "type": "integer", "default": 500}, "msg": {"title": "Msg", "type": "string", "default": "Server Error", "minLength": 1}, "data": {"title": "Data", "type": "object", "additionalProperties": {"type": "string", "x-nullable": true}, "default": {}}}}, "OpenApiWorkoutDetail": {"required": ["user_id", "sport", "distance", "duration", "client_id", "start_time", "end_time", "upload_time", "avg_speed", "max_speed"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "user_id": {"title": "User id", "description": "\u7528\u6237ID", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "title": {"title": "Title", "description": "\u6807\u9898", "type": "string", "maxLength": 100, "minLength": 1, "x-nullable": true}, "detail": {"title": "\u8be6\u60c5", "description": "\u8be6\u60c5", "type": "string", "maxLength": 256, "minLength": 1, "x-nullable": true}, "sport": {"title": "Sport", "description": "\u8fd0\u52a8\u7c7b\u578b", "type": "integer", "enum": [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12]}, "distance": {"title": "Distance", "description": "\u8fd0\u52a8\u91cc\u7a0b (m)", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "duration": {"title": "Duration", "description": "\u8fd0\u52a8\u65f6\u95f4 (s)", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "client_id": {"title": "Client id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "device_name": {"title": "Device name", "description": "\u8bbe\u5907\u4e2d\u6587\u540d\u79f0", "type": "string", "readOnly": true}, "start_time": {"title": "Start time", "description": "\u5f00\u59cb\u65f6\u95f4 unixtime (ms)", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808}, "end_time": {"title": "End time", "description": "\u7ed3\u675f\u65f6\u95f4 unixtime (ms)", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808}, "upload_time": {"title": "Upload time", "description": "\u4e0a\u4f20\u65f6\u95f4", "type": "string", "format": "date-time"}, "comment_count": {"title": "Comment count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "like_count": {"title": "Like count", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "calories": {"title": "Calories", "description": "\u5361\u8def\u91cc", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "thumbnail": {"title": "Thumbnail", "type": "string", "readOnly": true}, "avg_speed": {"title": "Avg speed", "description": "\u8fd0\u52a8\u5747\u901f", "type": "number"}, "max_speed": {"title": "Max speed", "description": "\u6700\u5927\u901f\u5ea6", "type": "number"}, "elevation_gain": {"title": "Elevation gain", "description": "\u7d2f\u79ef\u722c\u5347", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "elevation_loss": {"title": "Elevation loss", "description": "\u7d2f\u79ef\u4e0b\u964d", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "max_cadence": {"title": "Max cadence", "description": "\u6700\u5927\u8e0f\u9891(\u6574\u6570\u578b)", "type": "string", "readOnly": true}, "avg_cadence": {"title": "Avg cadence", "description": "\u5e73\u5747\u8e0f\u9891(\u6574\u6570\u578b)", "type": "string", "readOnly": true}, "max_grade": {"title": "Max grade", "description": "\u6700\u5927\u5761\u5ea6(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "min_grade": {"title": "Min grade", "description": "\u6700\u5c0f\u5761\u5ea6(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "max_heart_rate": {"title": "Max heart rate", "type": "string", "readOnly": true}, "avg_heart_rate": {"title": "Avg heart rate", "type": "string", "readOnly": true}, "max_power": {"title": "Max power", "type": "string", "readOnly": true}, "avg_power": {"title": "Avg power", "type": "string", "readOnly": true}, "power_ftp": {"title": "Power ftp", "description": "\u529f\u80fd\u6027\u9608\u503c\u529f\u7387(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "power_np": {"title": "Power np", "description": "\u8bad\u7ec3\u6807\u51c6\u5316\u529f\u7387(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "power_if": {"title": "Power if", "description": "\u8bad\u7ec3\u5f3a\u5ea6\u56e0\u5b50(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "power_tss": {"title": "Power tss", "description": "\u8bad\u7ec3\u538b\u529b\u5206\u6570(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "power_vi": {"title": "Power vi", "description": "\u8bad\u7ec3\u53d8\u52a8\u6307\u6570(\u6d6e\u70b9\u578b)", "type": "string", "readOnly": true}, "min_alt": {"title": "Min alt", "description": "\u6700\u4f4e\u6d77\u62d4(\u6574\u6570\u578b)", "type": "string", "readOnly": true}, "max_alt": {"title": "Max alt", "description": "\u6700\u597d\u6d77\u62d4(\u6574\u6570\u578b)", "type": "string", "readOnly": true}, "weather": {"title": "Weather", "type": "object"}}}, "OpenApiUser": {"required": ["username"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.", "type": "string", "pattern": "^[\\w.@+-]+$", "maxLength": 150, "minLength": 1}, "sex": {"title": "Sex", "type": "integer", "enum": [0, 1, 2]}, "birthday": {"title": "Birthday", "type": "string", "format": "date"}, "weight": {"title": "Weight", "description": "\u7528\u6237\u4f53\u91cd(\u5355\u4f4dKG)", "type": "number", "default": 20.0, "maximum": 150.0, "minimum": 20.0}, "height": {"title": "Height", "description": "\u7528\u6237\u4f53\u91cd(\u5355\u4f4dcm)", "type": "integer", "default": 50, "maximum": 230, "minimum": 50}, "province": {"title": "Province", "description": "\u7528\u6237\u6240\u5728\u7701\u4efd", "type": "string", "readOnly": true}, "city": {"title": "City", "description": "\u7528\u6237\u6240\u5728\u57ce\u5e02", "type": "string", "readOnly": true}, "age": {"title": "Age", "description": "\u7528\u6237\u5e74\u9f84(\u9ed8\u8ba4\u503c18)", "type": "string", "readOnly": true}, "avatar": {"title": "Avatar", "description": "\u7528\u6237\u5934\u50cf\u5730\u5740", "type": "string", "readOnly": true}}}, "UserLogin": {"required": ["account", "password"], "type": "object", "properties": {"account": {"title": "Account", "description": "\u8d26\u53f7(\u90ae\u7bb1\u6216\u624b\u673a\u53f7), \u5305\u542b@\u8ba4\u4e3a\u662f\u90ae\u7bb1", "type": "string", "maxLength": 256, "minLength": 1}, "password": {"title": "Password", "description": "RSA\u52a0\u5bc6\u540e\u7684\u5bc6\u7801", "type": "string", "maxLength": 256, "minLength": 1}, "third_party": {"title": "Third party", "description": "weixin/weibo/qq\u7b2c\u4e09\u65b9\u6388\u6743id", "type": "integer", "x-nullable": true}, "version": {"title": "Version", "description": "\u7248\u672c\u53f7", "type": "integer", "default": 1, "x-nullable": true}}}, "Developer": {"required": ["username", "pic_url"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "username": {"title": "Username", "description": "Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.", "type": "string", "pattern": "^[\\w.@+-]+$", "maxLength": 150, "minLength": 1}, "mobile": {"title": "Mobile", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808, "x-nullable": true}, "email": {"title": "Email address", "type": "string", "format": "email", "maxLength": 254}, "pic_url": {"title": "Pic url", "description": "\u7528\u6237\u5934\u50cf\u94fe\u63a5", "type": "string", "maxLength": 256, "minLength": 1}, "sex": {"title": "Sex", "type": "integer", "enum": [0, 1, 2]}, "certification_id": {"title": "Certification id", "type": "string", "readOnly": true}, "app_ids": {"title": "App ids", "type": "string", "readOnly": true}, "certification": {"title": "Certification", "type": "string", "readOnly": true}}}, "OpenApiPermission": {"required": ["name", "url", "action", "user", "client"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "created": {"title": "Created", "type": "string", "format": "date-time", "readOnly": true}, "modified": {"title": "Modified", "type": "string", "format": "date-time", "readOnly": true}, "name": {"title": "Name", "description": "\u63a5\u53e3\u4e2d\u6587\u540d\u79f0", "type": "string", "enum": ["/routes/raw/"]}, "url": {"title": "Url", "description": "openapi\u8def\u5f84", "type": "string", "maxLength": 128, "minLength": 1}, "action": {"title": "Action", "description": "viewset\u4e2d\u7684action", "type": "string", "maxLength": 32, "minLength": 1}, "status": {"title": "Status", "description": "\u9ed8\u8ba4\u72b6\u6001\u4e3a\u672a\u6388\u6743", "type": "integer", "enum": [0, 1, 2]}, "user": {"title": "User", "type": "integer"}, "client": {"title": "Client", "type": "integer"}}}, "OpenApiLushu": {"required": ["title", "create_time"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "user": {"title": "User", "description": "\u8def\u4e66\u6240\u6709\u8005", "type": "integer", "x-nullable": true}, "title": {"title": "Title", "description": "\u8def\u4e66\u6807\u9898", "type": "string", "maxLength": 100, "minLength": 1}, "desc": {"title": "Desc", "description": "\u8def\u4e66\u63cf\u8ff0", "type": "string", "readOnly": true}, "distance": {"title": "Distance", "description": "\u8def\u4e66\u91cc\u7a0b \u5355\u4f4d: m", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "sport": {"title": "Sport", "description": "1 WALK 2 RUN 3 CYCLE 4 OTHER", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "max_altitude": {"title": "\u6700\u5927\u9ad8\u7a0b", "description": "\u6700\u5927\u9ad8\u7a0b", "type": "number"}, "min_altitude": {"title": "\u6700\u4f4e\u9ad8\u7a0b", "description": "\u6700\u4f4e\u9ad8\u7a0b", "type": "number"}, "avg_grade": {"title": "\u5e73\u5747\u5761\u5ea6", "description": "\u5e73\u5747\u5761\u5ea6", "type": "number"}, "elevation_gain": {"title": "\u7d2f\u79ef\u722c\u5347", "description": "\u7d2f\u79ef\u722c\u5347", "type": "number"}, "elevation_loss": {"title": "\u7d2f\u79ef\u4e0b\u964d", "description": "\u7d2f\u79ef\u4e0b\u964d", "type": "number"}, "create_time": {"title": "Create time", "description": "\u521b\u5efa\u65f6\u95f4-unix\u65f6\u95f4\u6233ms", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808}, "modify_time": {"title": "Modify time", "description": "\u4fee\u6539\u65f6\u95f4unix\u65f6\u95f4\u6233ms", "type": "integer", "maximum": 9223372036854775807, "minimum": -9223372036854775808}, "thumbnail": {"title": "Thumbnail", "description": "\u8def\u4e66\u7f29\u7565\u56fe\u94fe\u63a5", "type": "string", "readOnly": true}}}, "LushuCreateFromGPX": {"required": ["title", "uuid"], "type": "object", "properties": {"title": {"title": "Title", "description": "\u8def\u4e66\u6807\u9898", "type": "string", "maxLength": 100, "minLength": 1}, "uuid": {"title": "Uuid", "description": "lushu \u552f\u4e00\u6807\u5fd7", "type": "string", "maxLength": 36, "minLength": 1}, "desc": {"title": "Desc", "description": "\u8def\u4e66\u63cf\u8ff0", "type": "string", "maxLength": 800, "minLength": 1}, "distance": {"title": "Distance", "description": "\u8def\u4e66\u91cc\u7a0b", "type": "number"}, "gpx_file": {"title": "Gpx file", "type": "string", "readOnly": true, "x-nullable": true, "format": "uri"}, "sport": {"title": "Sport", "description": "\u8fd0\u52a8\u7c7b\u578b 1 WALK 2 RUN 3 CYCLE 4 OTHER", "type": "integer"}}}, "OpenApiUpload": {"required": ["title", "md5"], "type": "object", "properties": {"title": {"title": "Title", "type": "string", "maxLength": 32, "minLength": 1}, "detail": {"title": "Detail", "description": "\u8be6\u7ec6\u63cf\u8ff0", "type": "string", "default": "", "maxLength": 800, "minLength": 1}, "fit_file": {"title": "Fit file", "description": "fit\u6587\u4ef6, \u4ee5.fit\u4e3a\u540e\u7f00", "type": "string", "readOnly": true, "format": "uri"}, "fit_filename": {"title": "Fit filename", "description": "fit\u6587\u4ef6\u540d\u79f0", "type": "string", "default": "", "maxLength": 256, "minLength": 1}, "md5": {"title": "Md5", "description": "\u4e0a\u4f20fit_file\u6587\u4ef6\u7684MD5\u503c", "type": "string", "maxLength": 128, "minLength": 1}, "sport": {"title": "Sport", "description": "\u8fd0\u52a8\u7c7b\u578b(0:\u81ea\u7531\u884c, 1:\u5f92\u6b65, 2:\u8dd1\u6b65, 3:\u9a91\u884c)", "type": "integer", "default": 0}, "client_id": {"title": "Client id", "description": "\u8bbe\u5907id", "type": "integer", "default": 0}}}}}